@import "src/assets/custom-properties.sass"


#contentBox
  padding: 50px 50px  
  max-width: 1400px
  margin-left: auto
  margin-right: auto
  display: grid
  grid-template-columns: 70% 30%
  
.content
  width: 95%


#contentBox h1 
  color: $text-gray
  margin-bottom: 50px

#contentBox p
  font-family: Abel
  color: $text-gray
  font-size: 150% !important
  text-align: justify
  line-height: 35px