@use '@angular/material' as mat
@use 'src/assets/awesome-fonts/awesome-fonts.css'
@use 'src/assets/google-fonts/google-fonts.css'
@import "src/assets/custom-properties.sass"
@include mat.core()
 


//----------------Global----------------//

body
  border: none !important
  margin: 0px 0px !important
  padding: 0 !important
  

h1
  font-family: Lexend
  font-size: 2.5rem !important
  color: $white

h2
  font-family: Anton 
  font-size: 2.0rem !important
  color: $text-gray

h3
  font-family: Anton
  color: $text-gray
  font-size: 1.5rem !important  
  font-weight: bolder

p
  font-family: Lexend
  color: $text-light
  font-size: 1rem !important

li
  list-style-type: none

.text-gray
  color: $text-gray

//----------------Banner----------------//

#site-title 
  background: url('file:/src/assets/images/arcane.jpg') no-repeat center center 
  background-size: cover
  height: $banner-height
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  padding-top: 10rem
  filter: brightness(50%)
  position: relative



.text-title
  text-align: center
  padding-bottom: 250px
  position: absolute
  left: 0
  right: 0
  top: $banner-height/2
  z-index: 9999

.box-explore
  justify-content: center
  display: flex
  color: $white

.btn-explore
  width: 160px
  font-family: Abel
  font-size: 1.2rem
  color: $white !important

//----------------Button----------------//

.btn-nav 
  line-height: 50px
  height: 50px
  text-align: center
  width: 120px
  cursor: pointer

.btn 
  line-height: 50px
  height: 50px
  text-align: center
  cursor: pointer  

.btn-one 
  color:$text-gray
  transition: all 0.3s
  position: relative
  font-family: Abel
  font-size: 1.2rem
  text-align: center

.btn-one span 
  transition: all 0.3s

.btn-one::before 
  content: ''
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1
  opacity: 0
  transition: all 0.3s
  border-top-width: 1px
  border-bottom-width: 1px
  border-top-style: solid
  border-bottom-style: solid
  border-top-color: #5c5c5c5e  // rgba(255,255,255,0.5)
  border-bottom-color: #5c5c5c5e  // rgba(255,255,255,0.5)
  transform: scale(0.1, 1)

.btn-explore::before 
  border-top-color: rgba(255,255,255,0.5)
  border-bottom-color: rgba(255,255,255,0.5)

.btn-one:hover span 
  letter-spacing: 2px

.btn-one:hover::before 
  opacity: 1 
  transform: scale(1, 1) 

.btn-one::after 
  content: ''
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1
  transition: all 0.3s
  background-color: #ffffff00 //rgba(255,255,255,0.1)

.btn-one:hover::after 
  opacity: 0 
  transform: scale(0.1, 1)


//----------------Snackbar----------------//

.mat-snack-bar-container 
    text-align: center

.mat-simple-snackbar 
    display: inline-block !important
