<footer class="footer">
    <div class="left-space"></div>
    <div>
        <a href="mailto:csnguyen.dev@gmail.com" class="footer_link">csnguyen.dev@gmail.com</a>

        <div class="social-items">
            <!-- <a href="mailto:csnguyen.dev@gmail.com" target="_blank" class="icon icon-enter"><i
                    class="fab fas fa-envelope icon-content"></i></a> -->
            <a href="https://github.com/Sony2k20" target="_blank" class="icon icon-enter"><i
                    class="fab fa-github icon-content"></i></a>
            <a href="https://www.xing.com/profile/CongSon_Nguyen/cv" target="_blank" class="icon icon-enter"><i
                    class="fab fa-xing icon-content"></i></a>
            <a href="https://www.linkedin.com/in/cong-son-nguyen-8a86b520b/" target="_blank" class="icon icon-enter"><i
                    class="fab fa-linkedin-in icon-content"></i></a>
            <a href="https://www.instagram.com/sony.2k/" target="_blank" class="icon icon-enter"><i
                    class="fab fa-instagram icon-content"></i></a>
        </div>

    </div>
    <div class="move-up">
        <div (click)="goToContent()" class="icon icon-enter"><i class="fas fa-angle-double-up icon-content"></i></div>
    </div>
</footer>